/* Body*/
body {
  background-color: aquamarine;
  font-family: Verdana, Tahoma, sans-serif;
}

/* Contenedor */
.contenedor {
  display: flex;
  justify-content: space-around;
  padding: 20x;
  background-color: #fff;
}

/* Tarjetas */
.card {
  margin: 10px;
  border: 2px solid #007BFF;
  padding: 20px;
  width: 150px;
  box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
  background-color: white;
  }
